* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

.theme-1 {
  --col-body-bg: hsl(222, 26%, 31%);
  --col-screen-bg: hsl(224, 36%, 15%);
  --col-head: #fff;
  --col-screen: #fff;
  --col-key-bg: hsl(223, 31%, 20%);
  --key-col: hsl(221, 14%, 31%);
  --key-bg: hsl(30, 25%, 89%);
  --key-shadow: hsl(224, 28%, 35%);
  --sp-key-col: #fff;
  --sp-key-bg: hsl(225, 21%, 49%);
  --sp-key-shadow: hsl(224, 28%, 35%);
  --eq-key-col: #fff;
  --eq-key-bg: hsl(6, 63%, 50%);
  --eq-key-shadow: hsl(6, 70%, 34%);
}

.theme-2 {
  --col-body-bg: hsl(0, 0%, 90%);
  --col-screen-bg: hsl(0, 0%, 93%);
  --col-head: hsl(60, 10%, 19%);
  --col-screen: hsl(60, 10%, 19%);
  --col-key-bg: hsl(0, 5%, 81%);
  --key-col: hsl(60, 10%, 19%);
  --key-bg: hsl(45, 7%, 89%);
  --key-shadow: hsl(35, 11%, 61%);
  --sp-key-col: #fff;
  --sp-key-bg: hsl(185, 42%, 37%);
  --sp-key-shadow: hsl(185, 58%, 25%);
  --eq-key-col: #fff;
  --eq-key-bg: hsl(25, 98%, 40%);
  --eq-key-shadow: hsl(25, 99%, 27%);
}

.theme-3 {
  --col-body-bg: hsl(268, 75%, 9%);
  --col-screen-bg: hsl(268, 71%, 12%);
  --col-head: hsl(52, 100%, 62%);
  --col-screen: hsl(52, 100%, 62%);
  --col-key-bg: hsl(268, 71%, 12%);
  --key-col: hsl(52, 100%, 62%);
  --key-bg: hsl(268, 47%, 21%);
  --key-shadow: hsl(290, 70%, 36%);
  --sp-key-col: #fff;
  --sp-key-bg: hsl(281, 89%, 26%);
  --sp-key-shadow: hsl(285, 91%, 52%);
  --eq-key-col: hsl(198, 20%, 13%);
  --eq-key-bg: hsl(176, 100%, 44%);
  --eq-key-shadow: hsl(177, 92%, 70%);
}

body {
  display: block;
  background-color: var(--col-body-bg);
  font-size: 32px;
}

.calc {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calculator {
  position: relative;
  display: grid;
  width: 30%;
}

.head {
  color: var(--col-head);
}

.head__theme {
  float: right;
  margin-right: 10px;
}

.head__theme__title {
  font-size: 15px;
}

.head__label {
  position: relative;
  font-size: 15px;
  top: -20px;
  left: 130px;
}

.label__option {
  margin: 0px 4px;
}

input[type="radio"]:checked::after {
  /* display: inline-block; */
  display: flex;
  position: relative;
  margin: 0;
  right: 3px;
  top: -3px;
  height: 20px;
  width: 20px;
  content: "";
  background-color: var(--eq-key-bg);
  border-radius: 20px;
}

input[type="radio"]:not(:checked)::after {
  margin: 0;
  /* display: inline-block; */
  display: flex;
  position: relative;
  right: 3px;
  top: -3px;
  height: 20px;
  width: 20px;
  content: "";
  background-color: var(--col-key-bg);
}

.calculator__screen {
  font-size: 32px;
  text-align: right;
  margin: 20px 0px;
  padding: 40px 20px;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: var(--col-screen-bg);
  color: var(--col-screen);
}

.calculator__keys {
  padding: 10px;
  display: grid;
  border-radius: 10px;
  grid-template-columns: repeat(4, 1fr);
  background-color: var(--col-key-bg);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.key {
  height: 50px;
  width: 100px;
  margin: 10px 10px;
  padding: 10px;
  border-radius: 10px;
  justify-self: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-size-adjust: unset;
  background-color: var(--key-bg);
  color: var(--key-col);
  box-shadow: 0px 5px var(--key-shadow);
}

.key.large {
  grid-column: span 2;
  width: 220px;
}

.sp {
  font-size: 20px;
  padding-top: 15px;
  color: var(--sp-key-col);
  background-color: var(--sp-key-bg);
  box-shadow: 0px 5px var(--sp-key-shadow);
}

.equal {
  padding-top: 5px;
  color: var(--eq-key-col);
  background-color: var(--eq-key-bg);
  box-shadow: 0px 5px var(--eq-key-shadow);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--eq-key-bg);
}

@media (max-width: 400px) {
  .calc {
    width: 100vw;
  }
  .calculator {
    width: 90vw;
  }
  .head__theme {
    margin-right: 5px;
  }
  .calculator__screen {
    width: 90vw;
    font-size: 32px;
    text-align: right;
    margin: 20px 0px;
    padding: 20px 20px;
    border-radius: 5px;
  }
  .calculator__keys {
    width: 90vw;
    border-radius: 5px;
    height: 70vh;
    gap: 0;
  }
  .key {
    height: 70px;
    width: 70px;
    border: 10px;
    margin: 0px 0px;
    padding: 5px;
    border-radius: 5px;
  }
  .key.large {
    width: 140px;
  }
  .sp {
    font-size: 15px;
    padding-top: 20px;
  }
  .equal {
    padding-top: 15px;
  }
}
