* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

body {
  display: block;
  background-color: hsl(222, 26%, 31%);
  font-size: 32px;
}

.calc {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calculator {
  position: relative;
  display: grid;
  width: 30%;
}

.head {
  color: #fff;
}

.calculator__screen {
  font-size: 32px;
  text-align: right;
  margin: 20px 0px;
  padding: 40px 20px;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: hsl(224, 36%, 15%);
  color: #fff;
}

.calculator__keys {
  padding: 10px;
  display: grid;
  border-radius: 10px;
  grid-template-columns: repeat(4, 1fr);
  background-color: hsl(223, 31%, 20%);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.key {
  height: 50px;
  width: 100px;
  margin: 10px 10px;
  padding: 10px;
  border-radius: 10px;
  justify-self: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-size-adjust: unset;
  background-color: hsl(30, 25%, 89%);
  color: hsl(221, 14%, 31%);
  box-shadow: 0px 5px hsl(224, 28%, 35%);
}

.key.large {
  grid-column: span 2;
  width: 220px;
}

.sp {
  font-size: 20px;
  padding-top: 15px;
  color: #fff;
  background-color: hsl(225, 21%, 49%);
  box-shadow: 0px 5px hsl(224, 28%, 35%);
}

.equal {
  padding-top: 5px;
  color: #fff;
  background-color: hsl(6, 63%, 50%);
  box-shadow: 0px 5px hsl(6, 70%, 34%);
}

@media (max-width: 400px) {
  .calc {
    width: 100vw;
  }
  .calculator {
    width: 90vw;
  }
  .calculator__screen {
    width: 90vw;
    font-size: 32px;
    text-align: right;
    margin: 20px 0px;
    padding: 20px 20px;
    border-radius: 5px;
  }
  .calculator__keys {
    width: 90vw;
    border-radius: 5px;
    height: 70vh;
    gap: 0;
  }
  .key {
    height: 70px;
    width: 70px;
    border: 10px;
    margin: 0px 0px;
    padding: 5px;
    border-radius: 5px;
  }
  .key.large {
    width: 140px;
  }
  .sp {
    font-size: 15px;
    padding-top: 20px;
  }
  .equal {
    padding-top: 15px;
  }
}
